* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 5em;
}

footer {
  background-color: #ddd;
  margin-bottom: 0;
}

footer ul {
  list-style: none;
  text-align: center;

}

.front-end-title {
  text-align: right;
}

footer ul li {
  display: inline-flex;
  margin: 20px;
}

body {
  font-family: Raleway;
  font-size: 12px;
  color: #2d3c49;
  width: 100%;
}

.cover-photo {

}

.header-section {
  display: flex;
}

.person-title {
  width: 50%;
  padding: 10px;
  text-align: right;
}

.row {
  width: 100%;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.logo {
  padding-left: 10px;
  padding-top: 30px;
}

.featured-work {
  font-size: 30px;
}

.responsive-container {
  width: 100%;
  max-width: 1280px;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.portfolio-project {
  margin: 5px;
}

h1 {
  text-transform: uppercase;
}

p{
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.first-project {
  padding-left: 15px;
  padding-right: 15px;
}

.third-project {
  padding-top: 30px;
  padding-bottom: 30px;
}

.project-work {
  max-width: 100%;
}

.projects {
  display: inline-flex;
  flex-wrap: nowrap;
  text-align: center;
}
/*Media Queries*/
@media screen and (max-width: 412px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .front-end-title {
    text-align: center;
  }

  .person-title {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .col-4 {
    width: 100%;
  }

  .projects {
    flex-flow: column;
  }

  .portfolio-project {
    width: 100%;
  }

  .project-work {
    width: 100%;
  }

  .first-project {
    padding: 0px;
  }

  .third-project {
    padding: 0px;
  }
}
